* {

    margin: 0;
    padding: 0;
}

body { background-color:rgb(252, 217, 252);
margin: auto;}


section { background-color: aliceblue;
padding: 30px;
min-width: 250px;
max-width: 450px;

margin: auto;
box-shadow: 3px 3px 7px black;
border-radius: 10px;
}

section { 
align-items: center;
justify-content: center;
}
h1 {
    text-align: center;
    color: rgb(18, 189, 175);
    text-shadow: 1px 1px 1px black;
    font-size: 40px;
}

h2
{
    font-size: 20px;
    padding: 30px;
margin-top: 20px;
color: #AD9A2B;
text-shadow: 1px 1px 1px black 
}

ul > li {

    padding: 20px;
    list-style-type: none;
    list-style: inside;
   
    
}

a {  color: #AD9A2B;
    text-decoration: none;
    font-weight: bolder;
}

a:active {
    color: #3d3508;
}

a:hover {

    color: black;
    text-decoration: underline;
   
}

img {
    margin-left: 250px;
    max-width: 200px;
}
