* {

    margin: 0;
    padding: 0;
}

body { background-color:rgb(252, 217, 252)}


section { background-color: aliceblue;
padding: 30px;
max-width: 450px;
text-align: center;
margin: auto;
}

ul > li {

    padding: 20px;
}
